<fw-dialog [(visible)]="showRegister">
  <div class="register-form">
    <img width="200" src="../../assets/logo.svg" />

    <h3>Sign Up</h3>
        <!--Form-->
        <div [hidden]="success">
        <form #account="ngForm" (ngSubmit)="save(true)" novalidate>

          <div class="form-group">
            <md-input-container class="full-width">
              <input name="username" mdInput required 
              placeholder="Email Address"
               [(ngModel)]="user.username" 
               #username="ngModel" 
               pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"/>
            </md-input-container>
            <!--<div [hidden]="username.valid || username.pristine" class="error-text">-->
          </div>

          <div class="form-group">
            <md-input-container class="full-width">
              <input name="password" 
              validateEqual="retypepassword" reverse="true" 
              mdInput required placeholder="Password" 
              type="password" [(ngModel)]="user.password"
               #password="ngModel" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"/>
            </md-input-container>


          </div>
          <div class="form-group">
            <md-input-container class="full-width">
              <input name="retypepassword" mdInput required 
              placeholder="Retype Password" type="password" 
              ngModel #retypepassword="ngModel" required 
              validateEqual="password" [(ngModel)]="user.retypepassword"/>
            </md-input-container>

          </div>


          <button [disabled]="account.invalid" id="register"  md-raised-button type="submit">Register</button>
          <button id="cancel" md-button routerLink="/home" routerLinkActive="active">Cancel</button>
        </form>
        </div>
    
      <!--Verify Email-->
  <div class="verifyEmail">

        <div class="alert alert-success" role="alert" *ngIf="success">
          Registered Successfully!
          <br/> Please Verify your Email and <a routerLink="/login" routerLinkActive="active" class="alert-link">Login</a>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="error">
          <strong>Oh snap!</strong>
          <br/> It seems there is some problem with your registration please <a routerLink="/signup" routerLinkActive="active">try again</a>          or <a routerLink="/aboutus" routerLinkActive="active">Contact Us</a>
        </div>


        <button id="register" md-button (click)="close()" *ngIf="success">Close</button>

  </div>

    <div class="alert alert-danger error" *ngIf="username.invalid && username.touched || password.invalid && password.touched || retypepassword.invalid && retypepassword.touched">

      <small *ngIf="username.invalid && username.touched">
              *Email is required and 
              format should be <i>abc@xyz.com</i>.
               <br/>
            </small>

      <small *ngIf="password.invalid && password.touched">
              *Password is required and 
              should contain UpperCase, LowerCase and Number.
               <br/>
            </small>

      <small *ngIf="retypepassword.invalid && retypepassword.touched">
            *Retype Your password correctly in the Retype password field
            <br/>
      </small>
    </div>

  </div>

</fw-dialog>